*{margin: 0;padding: 0; box-sizing: border-box;}
body,html{width: 100%;}
ul,li{list-style: none;}
.flex{display:flex; width: 100%; align-items: center;}
.flex-center{-ms-flex-align: center;}
.flex-between{ justify-content:space-between}
.flex-start{ justify-content: flex-start;}
.bordered {border: 1px solid #ddd}
.border-top{border-bottom:1px solid #ddd}
.border-bottom{border-bottom:1px solid #ddd}
button{}
select{height:40px;border:1px solid #ddd; border-radius: 5px;}
span,img{display:inline-block}
.left-align{text-align: left;}
.textContent{text-align: left; word-break: keep-all; word-wrap: break-word; padding:20px; }
.multi-line-ellipsis {
    display: -webkit-box;         /* Flexbox의 특성을 이용한 박스 모델 */
    -webkit-box-orient: vertical; /* 수직 방향으로 정렬 */
    -webkit-line-clamp: 4;        /* 4줄까지 표시하고, 그 이후는 말줄임 */
    overflow: hidden;             /* 내용이 넘칠 경우 숨김 처리 */
    text-overflow: ellipsis;      /* 텍스트가 넘칠 때 말줄임 표시 */
  }

/* 전체 페이지나 특정 요소의 스크롤바를 커스터마이징 */
.custom-scrollbar {
    width: 100%;           /* 너비 설정 */
    height: 200px;         /* 높이 설정 */
    overflow: auto;        /* 스크롤 가능하도록 설정 */
  }
  
  /* 스크롤바의 전체 배경 */
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;           /* 세로 스크롤바 너비 */
    height: 10px;          /* 가로 스크롤바 높이 */
  }
  
  /* 스크롤바의 배경 색상 */
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;   /* 배경 색상 */
    border-radius: 10px;          /* 둥근 모서리 */
  }
  
  /* 스크롤바의 실선 부분 */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;       /* 실선 색상 */
    border-radius: 10px;          /* 둥근 모서리 */
    border: 3px solid #f1f1f1;    /* 실선과 배경 사이에 공간을 만듦 */
  }
  
  /* 스크롤바 실선이 호버될 때 */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;       /* 호버시 실선 색상 변경 */
  }



/* 감정일기 레이아웃  */
.App{display: flex; align-items: center;justify-content: center;}
.diaryWrap{max-width: 600px; width: 100%; border-radius: 20px; padding : 30px} 
.listWrap{padding:20px 0 }
.itemWrap{overflow-y: auto; max-height: 375px; min-height: 375px; height: 100%;}
 
.diaryItem {padding : 20px 20px 40px 0;position:relative}
.diaryItem:not(:last-child){border-bottom: 1px solid #ddd;}
.diaryItem .img,.diaryItem .img *{width: 40px; height: 40px;}
/* .diaryItem .textContent{height: 120px;} */
.diaryItem .date{position:absolute; right:20px; bottom: 10px}